/* Adobe Garamond Pro */
@font-face {
    font-family: 'AGaramondPro-Regular';
    src: url('../fonts/adobegaramondpro/AGaramondPro-Regular.woff2') format('woff2'),
         url('../fonts/adobegaramondpro/AGaramondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Proxima Nova */
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/proximanova/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/proximanova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Proxima Nova Italic */
@font-face {
    font-family: 'ProximaNova-Italic';
    src: url('../fonts/proximanova/ProximaNova-Italic.woff2') format('woff2'),
         url('../fonts/proximanova/ProximaNova-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Proxima Nova Bold */
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/proximanova/ProximaNova-Bold.woff2') format('woff2'),
         url('../fonts/proximanova/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: whitesmoke;
    color: #1b1b1b;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 20%;
    gap: 1em;
    line-height: 1.5;
    font-size: 1rem;
}

h1 {
  font-size: 2rem; /* 32px */
  margin: 1em 0;
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.25rem; /* 20px */
}

p {
  margin-bottom: 1rem; /* Add spacing between paragraphs */
}

a {
  color: #1b1b1b; /* Link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Underline links on hover for better feedback */
}

h1, h2, h3, h4, h5, h6 {
    font-family: ProximaNova-Regular, sans-serif;
}

p {
    font-family: AGaramondPro-Regular, serif;
}

a {
    font-family: AGaramondPro-Regular, serif;
}

header {
    margin-top: 1em;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

nav a > img {
    background-color: yellow;
    display: block;
    height: 50px;
}

main {
    flex: 1;
    margin-top: 1em;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1em;
}

.tags > ul > li > a {
  text-decoration: underline;
}

.tags > ul > li > a:hover {
  background-color: yellow;
}

.tags > ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

p > em {
  font-style: italic;
  text-decoration: underline;
}

p > em:hover {
  background-color: yellow;  
}

a > em {
  font-style: italic;
  text-decoration: underline;
}

a > em:hover {
  background-color: yellow;  
}

main p > img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 5em auto;
}

footer {
    flex-shrink: 0;
    padding: 1em;
}

footer ul {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}



/* Responsive font sizes for smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.9375rem; /* 15px */
  }

  h1 {
    font-size: 1.5rem; /* 24px */
  }

  h2 {
    font-size: 1.25rem; /* 20px */
  }
}