/* BOX SIZING */
* {
    box-sizing: border-box;
}

/* DOCUMENT BACKGROUND COLOR */
html {
    background-color: #fafafa;
}

/* PADDING AND MARGIN */
body {
    padding: 2%;
}

/* FONT SIZES */
/* BASE FONT SIZE */
html {
    font-size: 16px;
}

/* HEADING SIZES */
h1 {
    font-size: 2em; /* Equivalent to 32px on a 16px baseline */
}

h2 {
    font-size: 1.75em; /* Equivalent to 28px on a 16px baseline */
}

h3 {
    font-size: 1.5em; /* Equivalent to 24px on a 16px baseline */
}

h4 {
    font-size: 1.25em; /* Equivalent to 20px on a 16px baseline */
}

h5 {
    font-size: 1.125em; /* Equivalent to 18px on a 16px baseline */
}

h6 {
    font-size: 1em; /* Equivalent to 16px on a 16px baseline */
}

/* FONT FAMILIES */
/* HEADING FONT FAMILY */
h1, h2, h3, h4, h5, h6 {
    font-family: "ProximaNova-Regular", sans-serif;
}

/* CONTENT FONT FAMILY */
body {
    font-family: "AGaramondPro-Regular", serif;
}

/* CONTENT SPACING */
body{
    line-height: 1.5;
}