<!-- layouts/_default/baseof.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Title }} - {{ .Page.Title }}</title>
    <!-- Add your head elements as needed -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
</head>
<body>
    {{ partial "header.html" . }}
    
    <!-- Content block for individual pages -->
    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}
</body>
</html>
