<footer class="footer">
    <ul class="footer-link-list">
        <li class="footer-list-item">
            <a class="footer-link" href="/blog/gutibrans-blog.xml" download>
                <img class="footer-icon" src="/icons/rss-icon.png" alt="github-logo" />
            </a>
        </li>
        <li class="footer-list-item">
            <a class="footer-link" href="https://github.com/gutibran" target="_blank">
                <img class="footer-icon" src="/icons/github-logo.png" alt="github-logo" />
            </a>
        </li>
        <li class="footer-list-item">
            <a class="footer-link" href="https://linkedin.com/in/gutibran" target="_blank">
                <img class="footer-icon" src="/icons/linkedin-logo.png" alt="linkedin-logo" />
            </a>
        </li>
        <li class="footer-list-item">
            <a class="footer-link" href="https://twitter.com/gutibran" target="_blank">
                <img class="footer-icon" src="/icons/x-logo.png" alt="x-logo" />
            </a>
        </li>
    </ul>
</footer>
