<footer>
    <ul>
        <li>
            <a href="/rss.xml">RSS</a>
        </li>
        <li>
            <a href="https://github.com/gutibran" target="_blank">
                <span>GitHub</span>
            </a>
        </li>
        <li>
            <a href="https://linkedin.com/in/gutibran" target="_blank">
                <span>LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/gutibran" target="_blank">
                <span>Twitter</span>
            </a>
        </li>
    </ul>
</footer>
