<header class="top-header">
    <nav class="top-nav">
        <a class="top-nav-logo-link" href="/">
            <img class="top-nav-image" src="/images/gutibran-logo.svg" alt="brandon-gutierrez" />
        </a>
        <ul class="top-nav-link-list">
            <li class="top-list-item">
                <a class="top-nav-link" href="/">Home</a>
            </li>
            <li class="top-nav-list-item">
                <a class="top-nav-link" href="/brandon-gutierrez-résumé.pdf" target="_blank">Résumé</a>
            </li>
            <li class="top-nav-list-item">
                <a class="top-nav-link" href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
</header>